#top{
	display: flex;
	flex-direction: column;
}
#top>div:nth-child(2){
	width: 100%;
	height: 55px;
	align-items: center;
}
#bar{
	width: 100%;
	height: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 200%;
	font-weight: bold;
	overflow: hidden;
	border-radius: 5px;
}
.topLeft{
	border-radius: 10px;
	margin-right: 7px;
	float: left;
	margin-top: 7px;
}
#pause{
	height: 40px;
	width: 40px;
	background-color: lightgrey;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 200%;
}
#roundNumber{
	height: 40px;
	width: auto;
	background-color: grey;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 200%;
	padding: 0px 5px 0px 5px;
}
#streak{
	height: 40px;
	width: 180px;
	background-color: lightgrey;
}
#streakBar{
	width: 0%;
	height: 100%;
	border-radius: inherit;
	float: left;
}
.topRight{
	border-radius: 10px;
	margin-top: 7px;
	float: right;
	margin-right: 7px;
	background-color: lightgrey;
	min-width: 80px;
	height: 40px;
}
#score{
	width: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 200%;
}
#mid{
	border-radius: 10px;
	background-color: lightgrey;
	background-image: url("1bd.png");
	background-size: cover;
	display: inline-grid;
	grid-gap: 10px;
	grid-template-areas: 'question question question question' 'answer1 answer2 answer3 answer4';
	grid-template-rows: 50% 50%;
}
#question{
	grid-area: question;
	background-color:rgba(0,0,0,0.5);
	border-radius: 10px;
	margin: 10px 10px 0px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 400%;
	box-sizing: border-box;
}
.answer{
	background-color:rgba(0,0,0,0.9);
	border-radius: 10px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 400%;
}
#answer0{
	margin-left: 10px;
	grid-area: answer1;
}
#answer1{
	grid-area: answer2;
}
#answer2{
	grid-area: answer3;
}
#answer3{
	grid-area: answer4;
	margin-right: 10px;
}